.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px
}

.movie-card {
  width: 300px;
  min-height: 540px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie-card h2 {
  font-size: 18px;
  margin: 0;
}

.movie-card p {
  font-size: 14px;
  margin: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.movie-card img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.movie-details {
  padding: 10px;
}
.movie-title-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px
}

.header {
  margin-bottom: 20px;
}
/* Movie Details  */
.movie-details-card {
  display: flex;
  gap: 50px;
  padding: 20px;
  margin: auto 5%;
  font-size: 20px;
}

.movie-details-card>img {
  width: 10%
}

.movie-details-card-content>div {
  margin: 10px auto
}